.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

body.dark {
  background-color: #121212;
  color:white;
}

.dark-mode-toggle {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.player-container {
  margin: 20px auto;
  max-width: 640px;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* hides firefox scrollbar */
  scrollbar-width: none;
  /* hides IE and edge scrollbar */
  -ms-overflow-style: none;
}

.playlist ::-webkit-scrollbar {
  /* hides chrome scrollbar */
  display: none;
}

.playlist-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.playlist-item img {
  width: 80px;
  height: 60px;
  margin-right: 10px;
}

.playlist-item:hover {
  background-color: #e0e0e0;
}

.dark .playlist-item:hover {
  background-color: #444;
}

.custom-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  color: white;
}

.player-wrapper {
  /* position: sticky; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90vh;
  padding-left: 10vw;
}

.player {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  /* height: 100vh; */
}


.app-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-y: hidden;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.play-btn {
  background: #ff4757;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.progress-bar {
  flex-grow: 1;
  height: 10px;
  background: #444;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.progress {
  height: 100%;
  background: #ff4757;
  border-radius: 5px;
  transition: width 0.1s linear;
}

