.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.player-container {
  margin: 20px auto;
  max-width: 640px;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 60%;
}

.playlist-item img {
  width: 80px;
  height: 60px;
  margin-right: 10px;
}

.playlist-item:hover {
  background-color: #f0f0f0;
}

.custom-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  color: white;
}

.player-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 90vh;
}

.player {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  /* height: 100vh; */
}


.app-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.play-btn {
  background: #ff4757;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.progress-bar {
  flex-grow: 1;
  height: 10px;
  background: #444;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.progress {
  height: 100%;
  background: #ff4757;
  border-radius: 5px;
  transition: width 0.1s linear;
}

